@font-face {
    font-family: "TTLakes-Regular";
    src: url(fonts/TTLakes-Regular.ttf);
}

@font-face {
    font-family: "TTLakes-DemiBold";
    src: url("fonts/TTLakes-DemiBold.ttf");
}

@font-face {
    font-family: "TTLakes-Light";
    src: url("fonts/TTLakes-Light.ttf");
}



* {
    font-family: "TTLakes-Regular";
    padding: 0;
    margin: 0; 
}

html{
    max-width: 768px;
}

ul, li {
    list-style: none;
}

.navigation-items {
    display: flex;
    justify-content: space-between;
    padding: 15px 16px 15px 16px;
    align-items: center;
}

.nav-divider {
    height: 32px;
    margin-top: auto;
    margin-bottom: auto;
}


section {
    background-color: rgba(248, 248, 248, 1);
    height: 900px;
} 


.main-header_item {
    font-family: "TTLakes-DemiBold";
    font-weight: 700;
font-size: 28px;
margin-bottom: 24px;
align-items: center;
padding-top: 24px;;
}

.main-header_item::before {
    content:url(images/highlight.png);
    margin-right: 16px;
    float: left;
}

.main-menu {
    display: flex;
    overflow: scroll;
    flex-direction: row;
    margin-left: 16px;
}

.menu-item {
    font-size: 16px;
    padding: 7px 9px 7px 16px;
    color: rgba(126, 126, 130, 1);
    letter-spacing: -0.2px;
    white-space: nowrap;
}

.menu-item_selected {
border: solid 2px rgba(184, 255, 236, 1);
border-radius: 6px;
}



.main-information {
width: 288px;
margin-top: 24px;
margin-left: 16px;
}



.main-information_item {
color: rgba(27, 28, 33, 1);
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.2px;

}

     .main-information_button {
        width: 132px;
        height: 24px;
        margin-left: 16px;
        margin-top: 16px;
        display: flex;
        justify-content: space-between;
        
     }

     .main-button {
font-size: 16px;
line-height: 24px;
letter-spacing: -0.2px;
text-decoration: none;
color: rgba(27, 28, 33, 1);

     }

.button_image {
    align-self: start;
}


.main-logo_image {
    margin-top: 16px;
}

.left-menu {
 display: flex;
 justify-content: space-between;
 width: 190px;
 margin-left: 24px;
 align-items: center;
}

.right-menu {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-right: 24px;
    align-items: center;
}

.nav-checkstatus, .nav-repair {
    height: 40px;
}

.main-information_section {
    display: flex;
    justify-content: space-between;
}


@media (min-width: 320px) {

.logo-image_hide--mobile{

    display: none;
}
    .menu-item_deckstop {
        display: none;
    }
    
    .menu-item_laptop {
        display: none;    

    }

    .nav-hide_element--mobile {
   display: none; 
    }


    .main-information_section {
    display: block;


}

}

@media (min-width: 768px) {
    .menu-item_laptop{
        display: flex;
    }

    .main-information_button {
        margin-top: 10px;
    }

    .main-logo_image {
        width: 360px;
        height: 208px;
        border-radius: 2px;
    }

 .navigation-items{
    justify-content: space-between
 }

.nav-hide_element--mobile {
   display: flex; 
    }
      
    .logo-image_hide--laptop {
        display: none;
    }

.logo-image_hide--mobile{
    display: flex;
}


.main-information_section {
    display: flex;

}

.main-logo_image {
    margin-right: 24px;
}

.text-container {
    margin-left: 24px;
}


                

.main-menu {
    margin-left: 24px;
}

.main-header_item::before {
    margin-right: 20px;
}

}